# Environment
.env

# Pycache
/test/__pycache__/*
/test/util/__pycache__/*
/test/scheduleGenerator/__pycache__/*

# Test
/test/test.py
/test/step6.py

# Test output
/test/output/*

# Sample Data
/test/sample_data/*
