# Environment
.env

# Pycache
/test/__pycache__/*

# Test output
/test/schedule.json
/test/students.json
/test/classes.json
/test/realCourses.json

# Sample Data
/test/course_selection_data.csv
/test/course_Selection_data_table.txt
